<!DOCTYPE html>
<html>
<head>
  <title>Home Matters</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>

<body class="body">
  <nav class="navbar navbar-default sticky-top bg-white border-bottom border-dark">
    <div class="container-fluid">
    <a class="navbar-brand" href="/"><%= image_tag("Logo.png")%></a>
    <a href="/"></a>
    <ul class="nav">
      <%- if current_user -%>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
      <%- else -%>
        <a class="btn btn-default navbar-btn text-dark" href="/users/sign_up">Sign Up</a>
        <a class="btn btn-default navbar-btn text-dark" href="/users/sign_in">Sign In</a>
      <%- end -%>
      </ul>
      </div>
  </nav>
  
  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>

  <%- if Rails.env.development? || Rails.env.test? -%>
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>

  <%= yield :extra_footer %>
</body>
</html>
